.navbar {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    flex-wrap: nowrap;
    flex: auto;
    height: 4vh;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
}

.navbar img {
    height: 3vh;
    width: 3vh;
    margin-right: auto;
}